<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Course of Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" [routerLink]="['/home']"
        routerLinkActive="router-link-active" [routerLink]="['/piano']">Piano</a>
        <a class="nav-link" href="dices">Dices</a>
        <a class="nav-link" href="dashboard">Dashboar</a>
        <a class="nav-link" href="task">Task</a>
        <a class="nav-link" href="coins">Conver Coins</a>
        <a class="nav-link " href="calculator">Calculator</a>
      </div>
    </div>
  </div>
</nav>
<app-footer></app-footer>