.title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    margin-top: 25px;
}

.fondItem {
    background-color: #FF111328;
    height: 130px;
    border-radius: 20px;
    color: white;
}

.btn-color {
    background-color: #FF3366;
    border-color: #FF3366;
    border-radius: 25px;
    width: 100%;
}

.btn-color:hover {
    background-color: #FF3366;
    border-color: #FF3366;
}

.sex {
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.styleNumber{
    font-size: 40px;
    font-weight: 800;
    margin-top: -30px;
}

.cm {
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}

.form-range {
    padding: 0px 20px;

}
input[type=range]::-webkit-slider-thumb {
    background-color: #FF3366;
}

.sumSust {
    cursor: pointer;
    background-color: #FF3366;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}

.sexDisable {
    background-color: #7D2F2F33;
}