<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <input type="text" [(ngModel)] = "nameTask" (keyup.enter)="addTask()" 
      class="form-control form-control-lg" placeholder="Enter your task...">
    </div>
    <div class="col-lg-6 offset-lg-3 mt-3">
      <div *ngIf="listTask.length === 0" class="card p-2">
        <h6>
          There aren't task for show
        </h6>
      </div>
      <ul class="list-group">
          <li *ngFor="let task of listTask; let i = index" class="list-group-item mt-3 d-flex justify-content-between">
            <span>
              <a href="#" class="cursor" (click) = "updateTask(task, i)">
                <i [ngClass] = "!task.status ? 'fa fa-check-square p-2' : 'fa fa-square p-2'"></i>
              </a>
            </span>
            <span>
              {{ task.name }}
            </span>
            <span>
              <a href="#" class="cursor" (click) = "deleteTask(i)"><i class="fa fa-trash-o fa-fw" style = "color: red;"></i> </a>
            </span>
          </li>
      </ul>
    </div>
  </div>
</div>
