<div class="container mt-3">
  <div class="row">
    <div class="col lg-12">
      <div class="form-group">
        <label for="amount" style="color:white;">Enter amount</label>
        <input type="number" class="form-control form-control-lg" id="amount" placeholder="Enter amount..."
        [(ngModel)] = "amount">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col lg-6">
      <div class="form-group mt-3">
        <label for="have" style="color:white;">Have to</label>
        <select class="form-control form-control-lg" id="have" [(ngModel)] = "have"  (change) = "convertCoin()">
          <option *ngFor = "let coin of coins">{{ coin }}</option>
        </select>
      </div>
    </div>
    <div class="col lg-6">
      <div class="form-group mt-3">
        <label for="want" style="color:white;">Want to</label>
        <select class="form-control form-control-lg" id="want" [(ngModel)] = "want" (change) = "convertCoin()">
          <option *ngFor = "let coin of coins">{{ coin }}</option>
        </select>
      </div>
    </div>
  </div>
  <h5 *ngIf = "amount > 0" class="text-center mt-3" style="color:white;">
    <span class="badge badge-success">{{ amount }} {{ have }}</span>
    <span class="badge badge-secondary">are</span>
    <span class="badge badge-success">{{ total | number: '0.0-2' }} {{ want }} EUR</span>
  </h5>
</div>
